<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="flex-center">
  <form [formGroup] = "form">
  <ion-card>
   <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input placeholder="Enter your email" type="email" formControlName = "email"></ion-input>
      </ion-item>
      <app-error-message [field] = "form.get('email')" error = "required" message = "Email is required"></app-error-message>
      <app-error-message [field] = "form.get('email')" error = "email" message = "Email is invalid"></app-error-message>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input placeholder="Enter your password" type="password" formControlName = "password"></ion-input>
      </ion-item>
      <app-error-message [field] = "form.get('password')" error = "required" message = "Password is required"></app-error-message>
      <ion-button fill="clear" color = "dark" size = "full" [disabled] = "!form.get('email').valid" (click) = "forgotEmailPassword()" id="recoverPasswordButton">Forgot email/password</ion-button>
      <div style="display: flex; justify-content: center;">
      <ion-button span class="custom" color = "primary" size = "default" [disabled] = "!form.valid" (click) = "login()" id="loginButton">Login</ion-button>
      </div>
      <div style="display: flex; justify-content: center;">
      <ion-button span class="custom" color = "primary" size = "default" fill = "clear" (click) = "register()">Register</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</form>
</div>
</ion-content>
