<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Choose a category</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-radio-group value="strawberries">
          <ion-item>
            <ion-label>Corporate</ion-label>
            <ion-radio slot="start" value="corporate"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Personal</ion-label>
            <ion-radio slot="start" value="personal"></ion-radio>
          </ion-item>
          </ion-radio-group>
          </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Personal Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input placeholder="Enter your name" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input placeholder="Enter your email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input placeholder="Enter your phone number" type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input placeholder="Enter your password" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input placeholder="Confirm password" type="password"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button size = "full">Register</ion-button>
</ion-content>
