<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>Shalom</ion-title>
    <ion-buttons slot = "start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button icon-only (click)="toggle()" *ngIf="!toggled">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color = "primary" *ngIf="toggled">
    <ion-searchbar #mySearchbar
    [(ngModel)]="searchTerm"
    (ionInput)="searchThis($event)"
    (ionCancel)="toggle()"
    [showCancelButton]="true">
 </ion-searchbar>
  </ion-toolbar>
   <!--<ion-toolbar color = "primary">
    <ion-searchbar placeholder = 'John Doe' [(ngModel)] = "searchTerm" showCancelButton = "focus" animated></ion-searchbar>
  </ion-toolbar>-->
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <!-- <ion-avatar slot = "start">
        <img src="assets/img/avatar.jpg" alt="avatar">
      </ion-avatar> -->
      <ion-thumbnail slot="start">
        <img alt="Image View" src="assets/img/avatar.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h1>{{item.userName}}, 28</h1>
        <p>Location: Nairobi <!-- {{item.location}}--></p>
        <p>Experience: 2 <!-- {{item.experience}}--> years</p>
        <p>Bureau: Shalom <!-- {{item.bureau}}--></p>
        <ion-button span class="right">View Profile</ion-button>
      <br>
        <h1><b>KSH. 8000 <!-- {{item.salary}}--></b></h1>
        <h1>/ month</h1>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
