<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>Shalom</ion-title>
    <ion-buttons slot = "start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button icon-only (click)="toggle()" *ngIf="!toggled">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button icon-only (click)="drop()" *ngIf="!dropped">
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color = "primary" *ngIf="toggled">
    <ion-searchbar #mySearchbar
    [(ngModel)]="searchTerm"
    (ionInput)="searchThis($event)"
    (ionCancel)="toggle()"
    [showCancelButton]="true">
 </ion-searchbar>
  </ion-toolbar>
  <ion-toolbar *ngIf="dropped">
    <ion-range [dualKnobs]="true" [value]="{ lower: 18, upper: 50 }" name="Age" min = "18" max = "50" pin = "true">
      <ion-label slot = "start"><h2>Age</h2></ion-label>
      <ion-label slot = "end"><h2>yrs</h2></ion-label>
    </ion-range>
    <ion-range [dualKnobs]="true" [value]="{ lower: 0, upper: 25 }" name="Experience" min = "0" max = "25" pin = "true">
      <ion-label slot = "start"><h2>Experience</h2></ion-label>
      <ion-label slot = "end"><h2>yrs</h2></ion-label>
    </ion-range>
    <ion-range [dualKnobs]="true" [value]="{ lower: 5000, upper: 20000 }" name="Experience" min = "5000" max = "20000" pin = "true">
      <ion-label slot = "start"><h2>Salary</h2></ion-label>
      <ion-label slot = "end"><h2>Ksh</h2></ion-label>
    </ion-range>
    <ion-input placeholder="Input Filter Location" type="text"></ion-input>
    <ion-button (click) = "drop()" size = "small">Filter</ion-button>
    <ion-button (click) = "drop()" span class="right" size = "small">Cancel</ion-button>
  </ion-toolbar>
   <!--<ion-toolbar color = "primary">
    <ion-searchbar placeholder = 'John Doe' [(ngModel)] = "searchTerm" showCancelButton = "focus" animated></ion-searchbar>
  </ion-toolbar>-->
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <!-- <ion-avatar slot = "start">
        <img src="assets/img/avatar.jpg" alt="avatar">
      </ion-avatar> -->
      <ion-thumbnail slot="start">
        <img alt="Image View" src="assets/img/avatar.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h1>{{item.userName}}, 28</h1>
        <p>Location: Nairobi <!-- {{item.location}}--></p>
        <p>Experience: 2 <!-- {{item.experience}}--> years</p>
        <!-- <p>Bureau: Shalom {{item.bureau}} -->
        <ion-button span class="right">View Profile</ion-button>
        <div>
          <ion-icon name = "star" *ngFor = "let num of [1,2,3,4,5]" color ="primary"></ion-icon>
        </div>
      <br>
        <h1><b>KSH. 8000 <!-- {{item.salary}}--></b></h1>
        <h1>/ month</h1>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
